<h1>Available products</h1>

<div>
<table class="products">
  <% @products.each do |product| %>
    <tr>
      <td>
        <%= image_tag(product.image_url, class: 'list_image') %>
      </td>
      <td class="list_description">
        <dl>
          <dt><%= product.title %></dt>
          <dd><%= truncate(strip_tags(product.description), length:60) %></dd>
          <dt><%= product.price %></dt>
        </dl>
      </td>
      <td class="list_actions">
        <%= link_to 'Show', product %><br>
        <%= link_to 'Edit Product', edit_product_path(product) %><br/>
        <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
</div>

<h1>All Posts</h1>
 <% @products.each do |product| %>
   <p><%= link_to product.title, product %></p>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to product.title, product %>
       </h4>
     </div>
   </div>
 <% end %>


<%= link_to 'New Product', new_product_path %>
